{
  "extends": [
    "wesbos"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@/components",
            "./components"
          ],
          [
            "@/styles",
            "./styles"
          ],
        ]
      }
    }
  }

}
